<div class='container card'>
  <form method='POST' action='/product-edit' class='form'>
    <h1 class='form_title'>Info</h1>
   
    {{#with product}}

      <div class='form_block'>
        {{>Input value =name name='name' text='Name'}}
        {{>Input value =price name='price' text='Price'}}
        {{>Input value =id name='id' text='ID'}}
      </div>
      {{>Input
        value=description
        big=true
        name='description'
        text='Short description'
        footer='It is displayed in the product card'
      }}
      <div class="action_list">
        <button class='btn'>Update product</button>
        <a href="/product-delete?id={{id}}" class='btn btn-error'>Delete product</a>
      </div>
    {{/with}}
  </form>
</div>