.purchase_product {
  display: grid;
  gap: 40px;
  .product {
    display: flex;
    padding: 0 20px;

    div,
    form {
      flex: 1;
    }
    .content_block {
      padding: 60px;
      display: grid;
      grid-auto-rows: min-content;
      gap: 30px;
    }
  }
  .other {
    text-align: center;
    display: grid;
    gap: 20px;
    .other_list {
      display: flex;
      //   flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      .product_card {
        max-width: 30vw;
      }
    }
  }
}
