{{#with info}}
  <div class='card container'>
    <div class='info'>
      <h3 class='title'>{{title}}</h3>
      <p class='description'>{{description}}</p>
    </div>
    <a href='/product-list' class='btn'>Back</a>
  </div>
{{/with}}