{{#with info}}
  <div class='card'>
    <div class='container'>
      <div class='info'>
        <h3 class='title'>{{title}}</h3>
        <p class='description'>{{description}}</p>
      </div>
      {{link}}
      <a href='{{link}}' class='btn'>Back</a>
    </div>
  </div>
{{/with}}