.purchase_create {
  display: grid;
  gap: 20px;
  .title {
    font-size: 36px;
    color: rgb(78, 78, 247);
    margin-bottom: 40px;
  }
  .product_info {
    display: flex;
    justify-content: space-between;
    .product_name {
      font-weight: bold;
    }
  }
  .delivery {
    display: flex;
    justify-content: space-between;
  }
  .form {
    .purchase_title {
      font-size: 24px;
      color: rgb(78, 78, 247);
    }
    display: grid;
    gap: 20px;
    & > div {
      display: flex;
      width: 100%;
      gap: 10px;
      justify-content: space-around;
      & > div {
        width: 100%;
      }
    }
  }
}
