<main class='main'>
  <div class='main__content'>
    <h1 class='title title--center'>Створити</h1>
    <ul class='choose'>
      <a href='/spotify-create'>
        <li class='choose__item'>
          <img
            src=' /svg/music.svg'
            class='choose__image'
          />
          <div class='choose__content'>
            <strong class='title'>Плейліст</strong>
            <p class='choose_text'>
              Створіть плейліст із піснями чи епізодами
            </p>
          </div>
        </li>
      </a>
      <a href='/spotify-create?isMix=true'><li
          class='choose__item'
        >
          <img src='/svg/mics.svg' class='choose__image' />
          <div class='choose_content'>
            <strong class='title'>Плейліст</strong>
            <p class='choose_text'>Створіть плейліст із
              піснями чи епізодами</p>
          </div>
        </li>
      </a>
    </ul>
  </div>
</main>