<div class='page'>
  <h1 class='title'>Product list</h1>
  <div class='product_list'>
    {{#each productList}}
    {{>productCard}}
    {{/each}}
  </div>
  {{!-- <a class="btn" href="/product-create">Create product</a> --}}
</div>